In [1]:
import pandas as pd
import requests
import matplotlib.pyplot as plt
import json
import numpy as np

from api_keys import g_key

In [2]:
#Create a list of Cities and States to pull cooridinates from Google Place Search
City_df = pd.DataFrame(
    {"City":['Lockhart','Memphis', "Kansas%City", 'Lexington','Austin', 'St.%Louis', 'Dallas', 'Nashville', 'Atlanta',
              'Brooklyn'],
     "State":['TX', 'TN', 'MO', 'NC', 'TX', 'MO', 'TX', 'TN', 'GA', 'NY']
    }
) 

City_df.head(10)

          City State
0     Lockhart    TX
1      Memphis    TN
2  Kansas%City    MO
3    Lexington    NC
4       Austin    TX
5    St.%Louis    MO
6       Dallas    TX
7    Nashville    TN
8      Atlanta    GA
9     Brooklyn    NY

In [3]:
base_url = "https://maps.googleapis.com/maps/api/geocode/json?"

Cities = ['{}, {}'.format(City, State) for City, State in zip(City_df['City'], City_df['State'])]
p_requests = [requests.get(base_url, params={
    'address':City,
    'key':g_key
}) for City in Cities]



#print(p_requests)

places_data = [place.json() for place in p_requests]
places_data

[{'results': [{'address_components': [{'long_name': 'Lockhart',
      'short_name': 'Lockhart',
      'types': ['locality', 'political']},
     {'long_name': 'Caldwell County',
      'short_name': 'Caldwell County',
      'types': ['administrative_area_level_2', 'political']},
     {'long_name': 'Texas',
      'short_name': 'TX',
      'types': ['administrative_area_level_1', 'political']},
     {'long_name': 'United States',
      'short_name': 'US',
      'types': ['country', 'political']},
     {'long_name': '78644', 'short_name': '78644', 'types': ['postal_code']}],
    'formatted_address': 'Lockhart, TX 78644, USA',
    'geometry': {'bounds': {'northeast': {'lat': 29.9244709,
       'lng': -97.62464390000001},
      'southwest': {'lat': 29.840644, 'lng': -97.72831509999999}},
     'location': {'lat': 29.8849441, 'lng': -97.6699996},
     'location_type': 'APPROXIMATE',
     'viewport': {'northeast': {'lat': 29.9244709, 'lng': -97.62464390000001},
      'southwest': {'lat': 29.840644, 'lng': -97.72831509999999}}},
    'place_id': 'ChIJBTaxdVRWQ4YRFOFfLUFSM4U',
    'types': ['locality', 'political']}],
  'status': 'OK'},
 {'results': [{'address_components': [{'long_name': 'Memphis',
      'short_name': 'Memphis',
      'types': ['locality', 'political']},
     {'long_name': 'Shelby County',
      'short_name': 'Shelby County',
      'types': ['administrative_area_level_2', 'political']},
     {'long_name': 'Tennessee',
      'short_name': 'TN',
      'types': ['administrative_area_level_1', 'political']},
     {'long_name': 'United States',
      'short_name': 'US',
      'types': ['country', 'political']}],
    'formatted_address': 'Memphis, TN, USA',
    'geometry': {'bounds': {'northeast': {'lat': 35.264187, 'lng': -89.637081},
      'southwest': {'lat': 34.994185, 'lng': -90.3044929}},
     'location': {'lat': 35.1495343, 'lng': -90.0489801},
     'location_type': 'APPROXIMATE',
     'viewport': {'northeast': {'lat': 35.264187, 'lng': -89.637081},
      'southwest': {'lat': 34.994185, 'lng': -90.3044929}}},
    'place_id': 'ChIJRZdD6h5-1YcR_rYaYBXzk9E',
    'types': ['locality', 'political']}],
  'status': 'OK'},
 {'results': [{'address_components': [{'long_name': 'Kansas City',
      'short_name': 'KCMO',
      'types': ['locality', 'political']},
     {'long_name': 'Jackson County',
      'short_name': 'Jackson County',
      'types': ['administrative_area_level_2', 'political']},
     {'long_name': 'Missouri',
      'short_name': 'MO',
      'types': ['administrative_area_level_1', 'political']},
     {'long_name': 'United States',
      'short_name': 'US',
      'types': ['country', 'political']}],
    'formatted_address': 'Kansas City, MO, USA',
    'geometry': {'bounds': {'northeast': {'lat': 39.356662, 'lng': -94.385522},
      'southwest': {'lat': 38.827176, 'lng': -94.765917}},
     'location': {'lat': 39.0997265, 'lng': -94.5785667},
     'location_type': 'APPROXIMATE',
     'viewport': {'northeast': {'lat': 39.356662, 'lng': -94.385522},
      'southwest': {'lat': 38.827176, 'lng': -94.765917}}},
    'place_id': 'ChIJl5npr173wIcRolGqauYlhVU',
    'types': ['locality', 'political']}],
  'status': 'OK'},
 {'results': [{'address_components': [{'long_name': 'Lexington',
      'short_name': 'Lexington',
      'types': ['locality', 'political']},
     {'long_name': 'Lexington',
      'short_name': 'Lexington',
      'types': ['administrative_area_level_3', 'political']},
     {'long_name': 'Davidson County',
      'short_name': 'Davidson County',
      'types': ['administrative_area_level_2', 'political']},
     {'long_name': 'North Carolina',
      'short_name': 'NC',
      'types': ['administrative_area_level_1', 'political']},
     {'long_name': 'United States',
      'short_name': 'US',
      'types': ['country', 'political']}],
    'formatted_address': 'Lexington, NC, USA',
    'geometry': {'bounds': {'northeast': {'lat': 35.8593369,
       'lng': -80.2198241},
      'southwest': {'lat': 35.7575389, 'lng': -80.3299129}},
     'location': {'lat': 35.8240265, 'lng': -80.2533838},
     'location_type': 'APPROXIMATE',
     'viewport': {'northeast': {'lat': 35.8593369, 'lng': -80.2198241},
      'southwest': {'lat': 35.7575389, 'lng': -80.3299129}}},
    'place_id': 'ChIJf9aquK2ZU4gRBDunOpwK6m8',
    'types': ['locality', 'political']}],
  'status': 'OK'},
 {'results': [{'address_components': [{'long_name': 'Austin',
      'short_name': 'Austin',
      'types': ['locality', 'political']},
     {'long_name': 'Travis County',
      'short_name': 'Travis County',
      'types': ['administrative_area_level_2', 'political']},
     {'long_name': 'Texas',
      'short_name': 'TX',
      'types': ['administrative_area_level_1', 'political']},
     {'long_name': 'United States',
      'short_name': 'US',
      'types': ['country', 'political']}],
    'formatted_address': 'Austin, TX, USA',
    'geometry': {'bounds': {'northeast': {'lat': 30.5168629,
       'lng': -97.5684199},
      'southwest': {'lat': 30.0986589, 'lng': -97.9383829}},
     'location': {'lat': 30.267153, 'lng': -97.7430608},
     'location_type': 'APPROXIMATE',
     'viewport': {'northeast': {'lat': 30.5168629, 'lng': -97.5684199},
      'southwest': {'lat': 30.0986589, 'lng': -97.9383829}}},
    'place_id': 'ChIJLwPMoJm1RIYRetVp1EtGm10',
    'types': ['locality', 'political']}],
  'status': 'OK'},
 {'results': [{'address_components': [{'long_name': 'St. Louis',
      'short_name': 'St. Louis',
      'types': ['locality', 'political']},
     {'long_name': 'Missouri',
      'short_name': 'MO',
      'types': ['administrative_area_level_1', 'political']},
     {'long_name': 'United States',
      'short_name': 'US',
      'types': ['country', 'political']}],
    'formatted_address': 'St. Louis, MO, USA',
    'geometry': {'bounds': {'northeast': {'lat': 38.774349, 'lng': -90.166409},
      'southwest': {'lat': 38.5318519, 'lng': -90.320515}},
     'location': {'lat': 38.6270025, 'lng': -90.19940419999999},
     'location_type': 'APPROXIMATE',
     'viewport': {'northeast': {'lat': 38.774349, 'lng': -90.166409},
      'southwest': {'lat': 38.5318519, 'lng': -90.320515}}},
    'place_id': 'ChIJ-Y7t-qm02IcRW-C7IsrqOb4',
    'types': ['locality', 'political']}],
  'status': 'OK'},
 {'results': [{'address_components': [{'long_name': 'Dallas',
      'short_name': 'Dallas',
      'types': ['locality', 'political']},
     {'long_name': 'Dallas County',
      'short_name': 'Dallas County',
      'types': ['administrative_area_level_2', 'political']},
     {'long_name': 'Texas',
      'short_name': 'TX',
      'types': ['administrative_area_level_1', 'political']},
     {'long_name': 'United States',
      'short_name': 'US',
      'types': ['country', 'political']}],
    'formatted_address': 'Dallas, TX, USA',
    'geometry': {'bounds': {'northeast': {'lat': 33.0237921,
       'lng': -96.46375809999999},
      'southwest': {'lat': 32.617537, 'lng': -96.999347}},
     'location': {'lat': 32.7766642, 'lng': -96.79698789999999},
     'location_type': 'APPROXIMATE',
     'viewport': {'northeast': {'lat': 33.0237921, 'lng': -96.46375809999999},
      'southwest': {'lat': 32.617537, 'lng': -96.999347}}},
    'place_id': 'ChIJS5dFe_cZTIYRj2dH9qSb7Lk',
    'types': ['locality', 'political']}],
  'status': 'OK'},
 {'results': [{'address_components': [{'long_name': 'Nashville',
      'short_name': 'Nashville',
      'types': ['locality', 'political']},
     {'long_name': 'Davidson County',
      'short_name': 'Davidson County',
      'types': ['administrative_area_level_2', 'political']},
     {'long_name': 'Tennessee',
      'short_name': 'TN',
      'types': ['administrative_area_level_1', 'political']},
     {'long_name': 'United States',
      'short_name': 'US',
      'types': ['country', 'political']}],
    'formatted_address': 'Nashville, TN, USA',
    'geometry': {'bounds': {'northeast': {'lat': 36.4054959,
       'lng': -86.5155879},
      'southwest': {'lat': 35.9677851, 'lng': -87.054903}},
     'location': {'lat': 36.1626638, 'lng': -86.7816016},
     'location_type': 'APPROXIMATE',
     'viewport': {'northeast': {'lat': 36.4054959, 'lng': -86.5155879},
      'southwest': {'lat': 35.9677851, 'lng': -87.054903}}},
    'place_id': 'ChIJPZDrEzLsZIgRoNrpodC5P30',
    'types': ['locality', 'political']}],
  'status': 'OK'},
 {'results': [{'address_components': [{'long_name': 'Atlanta',
      'short_name': 'Atlanta',
      'types': ['locality', 'political']},
     {'long_name': 'Fulton County',
      'short_name': 'Fulton County',
      'types': ['administrative_area_level_2', 'political']},
     {'long_name': 'Georgia',
      'short_name': 'GA',
      'types': ['administrative_area_level_1', 'political']},
     {'long_name': 'United States',
      'short_name': 'US',
      'types': ['country', 'political']}],
    'formatted_address': 'Atlanta, GA, USA',
    'geometry': {'bounds': {'northeast': {'lat': 33.8876179,
       'lng': -84.289389},
      'southwest': {'lat': 33.6478079, 'lng': -84.5518189}},
     'location': {'lat': 33.7489954, 'lng': -84.3879824},
     'location_type': 'APPROXIMATE',
     'viewport': {'northeast': {'lat': 33.8876179, 'lng': -84.289389},
      'southwest': {'lat': 33.6478079, 'lng': -84.5518189}}},
    'place_id': 'ChIJjQmTaV0E9YgRC2MLmS_e_mY',
    'types': ['locality', 'political']}],
  'status': 'OK'},
 {'results': [{'address_components': [{'long_name': 'Brooklyn',
      'short_name': 'Brooklyn',
      'types': ['political', 'sublocality', 'sublocality_level_1']},
     {'long_name': 'Kings County',
      'short_name': 'Kings County',
      'types': ['administrative_area_level_2', 'political']},
     {'long_name': 'New York',
      'short_name': 'NY',
      'types': ['administrative_area_level_1', 'political']},
     {'long_name': 'United States',
      'short_name': 'US',
      'types': ['country', 'political']}],
    'formatted_address': 'Brooklyn, NY, USA',
    'geometry': {'bounds': {'northeast': {'lat': 40.739446,
       'lng': -73.8333651},
      'southwest': {'lat': 40.551042, 'lng': -74.05663}},
     'location': {'lat': 40.6781784, 'lng': -73.9441579},
     'location_type': 'APPROXIMATE',
     'viewport': {'northeast': {'lat': 40.739446, 'lng': -73.8333651},
      'southwest': {'lat': 40.551042, 'lng': -74.05663}}},
    'place_id': 'ChIJCSF8lBZEwokRhngABHRcdoI',
    'types': ['political', 'sublocality', 'sublocality_level_1']}],
  'status': 'OK'}]

In [4]:
[place['results'][0] for place in places_data if len(place['results']) > 0]

#city_list = [h_attribute['results'][0]['address_components']['long_name'] for h_attribute in places_data if len(h_attribute['results']) > 0]
lat_list = [h_attribute['results'][0]['geometry']['location']['lat'] for h_attribute in places_data if len(h_attribute['results']) > 0]
lng_list = [h_attribute['results'][0]['geometry']['location']['lng'] for h_attribute in places_data if len(h_attribute['results']) > 0]

coordinates_df = pd.DataFrame(data={'Lat': lat_list, 'Lng': lng_list }, copy=True)
coordinates_df.head(10)

         Lat        Lng
0  29.884944 -97.670000
1  35.149534 -90.048980
2  39.099727 -94.578567
3  35.824027 -80.253384
4  30.267153 -97.743061
5  38.627003 -90.199404
6  32.776664 -96.796988
7  36.162664 -86.781602
8  33.748995 -84.387982
9  40.678178 -73.944158

In [5]:
# Merge the SFact_DF and line_DF into a combined dataframe
coordinates_df = pd.merge(City_df, coordinates_df, left_index = True, right_index = True)
coordinates_df.head(11)

          City State        Lat        Lng
0     Lockhart    TX  29.884944 -97.670000
1      Memphis    TN  35.149534 -90.048980
2  Kansas%City    MO  39.099727 -94.578567
3    Lexington    NC  35.824027 -80.253384
4       Austin    TX  30.267153 -97.743061
5    St.%Louis    MO  38.627003 -90.199404
6       Dallas    TX  32.776664 -96.796988
7    Nashville    TN  36.162664 -86.781602
8      Atlanta    GA  33.748995 -84.387982
9     Brooklyn    NY  40.678178 -73.944158

In [6]:
#Remove % from Kansas%City and St.%Louis
coordinates_df['City'] = coordinates_df['City'].replace(
    {'Kansas%City': 'Kansas City', 'St.%Louis' : 'St. Louis'})
coordinates_df.head(11)

          City State        Lat        Lng
0     Lockhart    TX  29.884944 -97.670000
1      Memphis    TN  35.149534 -90.048980
2  Kansas City    MO  39.099727 -94.578567
3    Lexington    NC  35.824027 -80.253384
4       Austin    TX  30.267153 -97.743061
5    St. Louis    MO  38.627003 -90.199404
6       Dallas    TX  32.776664 -96.796988
7    Nashville    TN  36.162664 -86.781602
8      Atlanta    GA  33.748995 -84.387982
9     Brooklyn    NY  40.678178 -73.944158

In [7]:
#Export to file as CSV
coordinates_df.to_csv("Output/Coordinates.csv", index=True, header = True)